.header {
    text-align: center;
    color: gold;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    padding: 10px;

}

.item-list{
    background-color: goldenrod;
    text-align: left;
    font-size: 22px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px;
}

.link1 {
    padding: 8px;
}

.link2 {
    padding: 8px;
}

.link3 {
    padding: 6px;
}

ul {
    display: flex;
    list-style: none;
}